--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
accelerate==0.22.0
diffusers
gradio==3.42.0
invisible-watermark==0.2.0
Pillow==10.0.0
transformers==4.32.1
compel
xformers==0.0.22
requests
